.weather-card {
  position: relative;
  height: auto;
  width: 350px;
  margin: 1%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 10px;
  background-size: cover;
}

.clear {
  background: url('../../public/sunny.jpg') no-repeat center center/cover;
}

.clouds {
  background: url('../../public/cloudy.jpg') no-repeat center center/cover;
}

.rain {
  background: url('../../public/rainy.jpg') no-repeat center center/cover;
}

.snow {
  background: url('../../public/snowy.jpg') no-repeat center center/cover;
}

.fog {
  background: url('../../public/foggy.jpg') no-repeat center center/cover;
}
